.main-container{
    -fx-background-color:#f1f1f1;
}


.view-title{
    -fx-font-size:2em;
     -fx-text-fill:#241560;
     -fx-font-weight:bold;
}

.main-container Button{
    -fx-background-color:#241560;
    -fx-text-fill:#FFFFFF;
    -fx-font-weight:bold;
}

.main-container Button FontAwesomeIconView{
    -fx-text-fill:#FFFFFF;
}

.main-container Button:hover{
    -fx-cursor:hand;
}